.usermanagement-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F7F9FB;
  text-align: center;
}

.usermanagement-empty-container {
  text-align: center;
  align-items: center;
  img {
      width: 60%;
  }
}