.tg-sentence {
    cursor: pointer;
    &:hover {
        background: darkslateblue;
        color: white;
        border-radius: 7px;
    }
}

.MuiSlider-valueLabel.MuiSlider-valueLabel.MuiSlider-valueLabel {
    transform: translateY(150%) scale(1);
    &::before {
        top: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
