.register-container {
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    .tf-normal, .tf-password {
        margin: 20px auto;
        display: block;
        width: 400px;
        .MuiOutlinedInput-root {
            width: 400px;
        }
    }
    .sp-login-hyperlink {
        color: #1b70bc;
        text-decoration: underline;
        cursor: pointer;
    }
    .bt-login {
        display: block;
        margin: 20px auto;
        width: 250px;
    }
}